{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Browse
			{{ genre ? genre : 'All Genres' }}</h1>
		<img src="https://via.placeholder.com/300" data-src="https://via.placeholder.com/300" alt="Square placeholder img">
		<p class="mt-2">
			<strong>PB & Jams</strong>
		</p>
		<span>14 Tracks</span>
		|
		<span>Rock</span>
	</div>
</div>
<div class="col col-md-4">
	<div class="mixed-vinyl-container p-3 text-center">
		<img src="https://via.placeholder.com/300" data-src="https://via.placeholder.com/300" alt="Square placeholder img">
		<p class="mt-2">
			<strong>Put a Hex on your Ex</strong>
		</p>
		<span>8 Tracks</span>
		|
		<span>Heavy Metal</span>
	</div>
</div>
<div class="col col-md-4">
	<div class="mixed-vinyl-container p-3 text-center">
		<img src="https://via.placeholder.com/300" data-src="https://via.placeholder.com/300" alt="Square placeholder img">
		<p class="mt-2">
			<strong>Spice Grills - Summer Tunes</strong>
		</p>
		<span>10 Tracks</span>
		|
		<span>Pop</span>
	</div>
</div></div></div></div>{% endblock %}
